/* Estilos básicos para el dropdown */
.if-dropdown {
    position: relative;
    display: inline-block;
}

.if-dropdown-toggle {
    cursor: pointer;
    color:  black;
    /* Letras gris claro */
    padding: 10px;
    border: none;
    background: none;
    font-size: 24px;
    /* Aumenta el tamaño del ícono */
    font-weight: bold;
}

.if-dropdown-toggle:hover {
    color: #fff;
    /* Opcional: cambiar color al hacer hover */
}

.if-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    /* Color blanco */
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    /* Bordes redondeados */
    z-index: 1;
}

.if-dropdown-menu a {
    color:  #585b5e;
    /* Letras gris claro */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.if-dropdown-menu a:hover {
    background-color: #f1f1f1;
    color: #333;
    /* Opcional: cambiar color al hacer hover */
}

/* Mostrar el menú al hacer hover */
.if-dropdown:hover .if-dropdown-menu {
    display: block;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .if-dropdown-menu {
        min-width: 120px;
        /* Ajustar el ancho para dispositivos móviles */
    }
}