@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.modalBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.5); /* Asegúrate de que el fondo sea semi-transparente */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 1000; /* Ajusta este valor si es necesario */
  }


  
  .modalContainer {
    width: 137vh;
    height: 80vh;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: relative;
    z-index: 1001; 
  }

  /* 
   width: 80%;
  max-width: 600px; 
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  */
  
  .modalContainer .title {
    display: -block;
    text-align:start;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 0px;
    border: none;
    padding: 0px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }









.body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .form-container {
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 15px;
    border:none;
    border-radius: 5px;
  }
  
  .form-container h2 {
    text-align: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  
  .input-group {
    flex: 1;
    margin-right: 0px;
    margin-left: 5px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group select,
  .input-group input,
  .input-group textarea {
    width: 100%;
    padding: 0px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-group {
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box; 
  }
  
  .button-group button {
    width: 150px; /* Ancho fijo para todos los botones */
    padding: 10px 0; /* Ajusta el espaciado vertical si es necesario */
    margin: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color:  #49b3ee;
    color: #fff;
    cursor: pointer;
  }
  
  .button-group button:hover {
    background-color: #3f18a5;
  }
  
  